@import url(../../../../assets/css/bootstrap.min.css);
@import url(../../../../assets/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

*{
    --main-color: #FDEEDC;
    --secondary-color: #F1A661;
    --second-secondary-color: #F1A661;
    --third-color: #E38B29;
    --text-color: #000000;

    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color) !important;
    padding: 0;
    margin: 0;
}

nav{ 
    background-color: var(--third-color);
    padding-left: 1rem;
    padding-right: 1rem;
}

nav img{
    width: 150px;
}

body > div{
    padding: 0 1rem !important;
    height: 100vh;
}

body > div > div:first-child{
    height: 100vh;
    padding-right: 1rem;
    border-right: 1px solid var(--secondary-color);
}

body > div button{
    font-size: 1.2rem !important;
}

.nav-pills .nav-link.active{
    background-color: transparent !important;
    font-weight: bold;
    color: var(--third-color)  !important;
    border-bottom: 1px solid var(--third-color);
    border-radius: 0;
}

.card-footer > .btn{
    background-color: var(--secondary-color) !important;
    color: white !important;
}